<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LogFile" value="SipCallHandler_{0}.log"/>
    <add key="SFClientId" value="3MVG9g9rbsTkKnAVfHslgLjIpqGyyaVyqReWxlicZVhjYE5_sPZYt_1r5IH4TmmAwU5Edn1eNkxSjXHmtHRmS"/>
    <add key="SFSecret" value="0D771180DAF218FC566A822DEA5CA0459C81FAF062E430EEE0B9204E958C6647" />
    <add key="SalesforceInstance" value="https://na122.salesforce.com"/>
    <add key="SFUser" value="mark.schwartz@connectamerica.com" />
    <add key="SFPassword" value="Ms7849441!"/>
    <add key="SFToken" value=""/>
  </appSettings>
</configuration>